<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Django Form</title>
    </head>
    <body>
        <h2>Django Form</h2>
        <form method="post" action="/result/">{% csrf_token %}
            <table>
                    <tr>
                            <td>Enter your name: </td>
                            <td><input type="text" name="name"/></td>
            
                    </tr>
                    <tr>
                        <td>Enter your email:</td>
                        <td><input type="text" name="email"/></td>
                    </tr>
                    <tr>
                        <td>Enter your phone:</td>
                        <td><input type="text" name="phone"/></td>
                    </tr>
                    <tr>
                        <td><button>Submit</button></td>
                    </tr>
                    <tr>
                        {% for i in ap %}
                        <td> {{ i.name }}  {{ i.cat }}</td>
                        {% endfor %}
                       
                    </tr>
                    
                    
            </table>

        </form>
    </body>
</html>