<h1> Day {{day.day}}</h1>
<h1>Select Room to book</h1>
<!-- <li>Room {{all_room.0}}</li> -->
<!-- <li>{{status1}}</li> -->
<!-- <li>{{timeslot1}}</li>
<li>{{status}}</li> -->
<li>{{thisday}}</li>
<li>{{all_slot_room1}}</li>
<li>{{slot1}}</li>
<!-- <li>{{mix}}</li> -->

<form action="" method="post">
    {% csrf_token %}

    <td><input type="submit" value="reserve" name= 1 ></td>
    <td><input type="submit" value="cancel" name=81></td>
</tr>
<form action="" method="post">
    {% csrf_token %}

    <td><input type="submit" value="reserve" name= 17 ></td>
    <td><input type="submit" value="cancel" name=112></td>
</tr>
<form action="" method="post">
    {% csrf_token %}

    <td><input type="submit" value="reserve" name= 33 ></td>
    <td><input type="submit" value="cancel" name=128></td>
</tr>
<form action="" method="post">
    {% csrf_token %}

    <td><input type="submit" value="reserve" name= 49 ></td>
    <td><input type="submit" value="cancel" name=144></td>
</tr>
<form action="" method="post">
    {% csrf_token %}

    <td><input type="submit" value="reserve" name= 65 ></td>
    <td><input type="submit" value="cancel" name=160></td>
</tr>
