<h1> Day {{day.day}}</h1>
<h1>Select Room to book</h1>

<li>Slot1 :  {{all_slot_room1.status1}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 1 ></td>
    <td><input type="submit" value="cancel" name=81></td>
</tr></li>


<li>Slot2 :  {{all_slot_room1.status2}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 2 ></td>
    <td><input type="submit" value="cancel" name=82></td>
</tr></li>


<li>Slot3 :  {{all_slot_room1.status3}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 3 ></td>
    <td><input type="submit" value="cancel" name=83></td>
</tr></li>


<li>Slot4 :  {{all_slot_room1.status4}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 4 ></td>
    <td><input type="submit" value="cancel" name=84></td>
</tr></li>


<li>Slot5 :  {{all_slot_room1.status5}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 5 ></td>
    <td><input type="submit" value="cancel" name=85></td>
</tr></li>


<li>Slot6 :  {{all_slot_room1.status6}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 6 ></td>
    <td><input type="submit" value="cancel" name=86></td>
</tr></li>


<li>Slot7 :  {{all_slot_room1.status7}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 7 ></td>
    <td><input type="submit" value="cancel" name=87></td>
</tr></li>

<li>Slot8 :  {{all_slot_room1.status8}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 8 ></td>
    <td><input type="submit" value="cancel" name=88></td>
</tr></li>

<li>Slot9 :  {{all_slot_room1.status9}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 9 ></td>
    <td><input type="submit" value="cancel" name=89></td>
</tr></li>

<li>Slot10 :  {{all_slot_room1.status10}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 10 ></td>
    <td><input type="submit" value="cancel" name=90></td>
</tr></li>

<li>Slot11 :  {{all_slot_room1.status11}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 11 ></td>
    <td><input type="submit" value="cancel" name=91></td>
</tr></li>

<li>Slot12 :  {{all_slot_room1.status12}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 12 ></td>
    <td><input type="submit" value="cancel" name=92></td>
</tr></li>

<li>Slot13 :  {{all_slot_room1.status13}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 13 ></td>
    <td><input type="submit" value="cancel" name=93></td>
</tr></li>

<li>Slot14 :  {{all_slot_room1.status14}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 14 ></td>
    <td><input type="submit" value="cancel" name=94></td>
</tr></li>

<li>Slot15 :  {{all_slot_room1.status15}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 15 ></td>
    <td><input type="submit" value="cancel" name=95></td>
</tr></li>

<li>Slot16 :  {{all_slot_room1.status16}}</li>
  <form action="" method="post">
    {% csrf_token %}
    <td><input type="submit" value="reserve" name= 16 ></td>
    <td><input type="submit" value="cancel" name=96></td>
</tr></li>
