<h1>Select day to book</h1>

  <li><a href="{% url 'mrbs:pick_room' day1.id %}">{{ day1 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day2.id %}">{{ day2 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day3.id %}">{{ day3 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day4.id %}">{{ day4 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day5.id %}">{{ day5 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day6.id %}">{{ day6 }}</a></li>
  <li><a href="{% url 'mrbs:pick_room' day7.id %}">{{ day7 }}</a></li>
